<div class="home-container">


    <div class="input-container">

        <h1 class="center text-center">
            <p>Investing just got <strong class="middle-blue-font">Easy</strong></p>
            <p><strong class="middle-blue-font"><span class="myelement"></span></strong></p>
        </h1>


        <div class="form-group">
            <input type="text" class="form-control" (focus)="myLocation()" id="name" required data-validation-required-message="Please enter your name.">
            <span class="form-highlight"></span>
            <span class="form-bar"></span>
            <label class="float-label" for="name">Type your future ride here...</label>
            <p class="help-block text-danger"></p>
        </div>




    </div>



</div>
