
label{
    color: #2185D0 !important;
    font-weight: 900;
}


.input-group.input-group-unstyled input.form-control {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.input-group-unstyled .input-group-addon {
    border-radius: 4px;
    border: 0px;
    background-color: transparent;
}


.fa-info-circle{
    color: black;
}

.form-group > label {
    font-size: 14px !important;
}
