<div class="ui blue raised segment">


    <form>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="rentalIncome">Rental Income <i class="fa fa-info-circle" data-content="Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book"></i></label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-usd "></i>
                        </span>
                        <input type="number" id="rentalIncome" (keyup)="onKeyUp('rentalIncome', rentalIncome.value)" #rentalIncome class="form-control">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="propertyTax">Property Tax <i class="fa fa-info-circle" data-content="Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book"></i></label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-usd "></i>
                        </span>
                        <input type="number" id="propertyTax" (keyup)="onKeyUp('propertyTax', propertyTax.value)" #propertyTax class="form-control">
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="insurance">Insurance (Per Month) <i class="fa fa-info-circle" data-content="Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book"></i></label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-usd "></i>
                        </span>
                        <input type="number" id="insurance" (keyup)="onKeyUp('insurance', insurance.value)" #insurance class="form-control">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="homeOwnerAssoc">Homeowner's Associaion <i class="fa fa-info-circle" data-content="Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book"></i></label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-usd "></i>
                        </span>
                        <input type="number" id="homeOwnerAssoc" (keyup)="onKeyUp('homeOwnerAssoc', homeOwnerAssoc.value)" #homeOwnerAssoc class="form-control">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="mangtFee">Management Fee (Per Month) <i class="fa fa-info-circle" data-content="Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book"></i></label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-percent "></i>
                        </span>
                        <input type="number" id="mangtFee" (keyup)="onKeyUp('mangtFee', mangtFee.value)" #mangtFee class="form-control">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="maintReserve">Maintenance Reserve <i class="fa fa-info-circle" data-content="Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book"></i></label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-percent"></i>
                        </span>
                        <input type="number" (keyup)="onKeyUp('maintReserve', maintReserve.value)" #maintReserve id="maintReserve" class="form-control">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="AppreRate">Appreciation Rate <i class="fa fa-info-circle" data-content="Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book"></i></label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-percent "></i>
                        </span>
                        <input type="number" id="AppreRate" (keyup)="onKeyUp('AppreRate', AppreRate.value)" #AppreRate class="form-control">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="vacanyAll">Vacany Allowance <i class="fa fa-info-circle" data-content="Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book"></i></label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-percent "></i>
                        </span>
                        <input type="number" id="vacanyAll" (keyup)="onKeyUp('vacanyAll', vacanyAll.value)" #vacanyAll class="form-control">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="rentIncomeInc">Rental Income Increase <i class="fa fa-info-circle" data-content="Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book"></i></label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-percent "></i>
                        </span>
                        <input type="number" id="rentIncomeInc" (keyup)="onKeyUp('rentIncomeInc', rentIncomeInc.value)" #rentIncomeInc class="form-control">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="propTaxInc">Property Tax Increase <i class="fa fa-info-circle" data-content="Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book"></i></label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-percent "></i>
                        </span>
                        <input type="number" id="propTaxInc" (keyup)="onKeyUp('propTaxInc', propTaxInc.value)" #propTaxInc class="form-control">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="closingCostB">Closing Costs (BUY) <i class="fa fa-info-circle" data-content="Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book"></i></label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-percent "></i>
                        </span>
                        <input type="number" (keyup)="onKeyUp('closingCostB', closingCostB.value)" #closingCostB id="closingCostB" class="form-control">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="closingCostS">Closing Costs (SELL) <i class="fa fa-info-circle" data-content="Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book"></i></label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-percent "></i>
                        </span>
                        <input type="number" id="closingCostS" (keyup)="onKeyUp('closingCostS', closingCostS.value)" #closingCostS class="form-control">
                    </div>
                </div>
            </div>
        </div>


    </form>

    <div class="row">
        <div class="col-md-6">
            <button class="btn btn-danger btn-block">Back</button>
        </div>
        <div class="col-md-6">
            <button class="btn btn-success btn-block" (click)="sendData()">Submit</button>
        </div>
    </div>


</div>
