<div class="ui blue raised segment">


    <form>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="propAddress">Property Street</label>
                        <input type="text" id="propAddress" class="form-control">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="propCity">Property City</label>
                    <input type="text" id="propCity" class="form-control">
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="propState">Property State</label>
                    <input type="text" id="propState" class="form-control">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="propZipcode">Property Zipcode</label>
                    <input type="text" id="propZipcode" class="form-control">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="propSize">Property Size</label>
                    <input type="text" id="propSize" class="form-control">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="yearBuilt">Year Built</label>
                    <input type="text" id="yearBuilt" class="form-control">
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="bedrooms">Bedrooms</label>
                    <input type="text" id="bedrooms" class="form-control">
                </div>
            </div>
        </div>



    </form>

    <div class="row">
        <div class="col-md-12 col-offset-md-3">
            <button class="btn btn-primary btn-block">Next</button>
        </div>
    </div>





</div>
