<div class="ui blue raised segment">


    <form>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="propAddress">Property Street</label>
                        <input type="text" id="propAddress" (keyup)="onKeyUp('propAddress', propAddress.value)" #propAddress  class="form-control">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="propCity">Property City</label>
                    <input type="text" id="propCity" (keyup)="onKeyUp('propCity', propCity.value)" #propCity  class="form-control">
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="propState">Property State</label>
                    <input type="text" id="propState" (keyup)="onKeyUp('propState', propState.value)" #propState class="form-control">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="propZipcode">Property Zipcode</label>
                    <input type="text" id="propZipcode" (keyup)="onKeyUp('propZipcode', propZipcode.value)" #propZipcode class="form-control">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="propSize">Property Size</label>
                    <input type="number" id="propSize" (keyup)="onKeyUp('propSize', propSize.value)"  #propSize class="form-control">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="yearBuilt">Year Built</label>
                    <input type="number" id="yearBuilt" (keyup)="onKeyUp('yearBuilt', yearBuilt.value)"  #yearBuilt class="form-control">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="bedrooms">Bedrooms</label>
                    <input type="number" id="bedrooms" (keyup)="onKeyUp('bedrooms', bedrooms.value)"  #bedrooms class="form-control">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="bathrooms">Bathrooms</label>
                    <input type="number" id="bathrooms" (keyup)="onKeyUp('bathrooms', bathrooms.value)" #bathrooms class="form-control">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="propPrice">Property Price</label>
                    <input type="number" id="propPrice" (keyup)="onKeyUp('propPrice', propPrice.value)" #propPrice class="form-control">
                </div>
            </div>
        </div>

    </form>
    <div class="row">
        <div class="col-md-12 col-offset-md-3">
            <button class="btn btn-primary btn-block">Next</button>
        </div>
    </div>





</div>
