<div class="final-container">

    <div class="row">

<div class="col-md-2">

    <div class="ui blue raised segment" id="file-transfer">
        <div class="ui compact vertical labeled icon menu">
            <a class="item">
                <i class="fa fa-file-pdf-o"></i>
                PDF
            </a>
            <a class="item">
                <i class="fa fa-line-chart"></i>
                Line Chart
            </a>
            <a class="item">
                <i class="fa fa-table"></i>
                Table (CSV)
            </a>
            <a class="item">
                <i class="fa fa-pie-chart"></i>
                Pie Chart
            </a>
            <a class="item">
                <i class="fa fa-area-chart"></i>
                Area Chart
            </a>
            <a class="item">
                <i class="fa fa-bar-chart"></i>
                Bar Chart
            </a>
        </div>
        </div>
</div>

        <div class="col-md-10">
            <div class="main-graph">
                <div class="ui blue raised segment">
                    <h1 id="madeIt">YOU MADE IT!</h1>
                </div>
            </div>
        </div>




    </div>
</div>