<div class="final-container">

    <div class="row">

<div class="col-md-2">

    <div class="ui blue raised segment" id="file-transfer">
        <div class="ui compact vertical labeled icon menu">
            <a class="item">
                <i class="fa fa-table"></i>
                Table
            </a>
            <a class="item">
                <i class="fa fa-line-chart"></i>
                Line Chart
            </a>
            <a class="item">
                <i class="fa fa-pie-chart"></i>
                Pie Chart
            </a>
            <a class="item">
                <i class="fa fa-area-chart"></i>
                Area Chart
            </a>
            <a class="item">
                <i class="fa fa-bar-chart"></i>
                Bar Chart
            </a>
        </div>
        </div>
</div>

        <div class="col-md-10">
            <div class="main-graph">
                <div class="ui blue raised segment" id="main-graph-content">
                    <div class="final-header">
                        <h1 id="madeIt">YOU MADE IT!</h1>
                        <i class="fa fa-download fa-4x"></i>
                    </div>
                    <hr class="style14">
                </div>



                <!--Table-->
                <!--Line Chart-->
                <!--Pie Chart-->
                <!--Area Chart-->
                <!--Bar Chart-->
            <div class="ui blue raised segment" id="my-graph-yo">
                <!--<div class="whole-graph">-->
                    <!--<a class="my-graph" href="https://plot.ly/~realestateinvestment/2/" target="_blank" title="Double Y Axis Example" style="display: block; text-align: center;"><img src="https://plot.ly/~realestateinvestment/2.png" alt="Double Y Axis Example" style="max-width: 100%;width: 600px;"  width="600" onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>-->
                    <!--<script data-plotly="realestateinvestment:2"  src="https://plot.ly/embed.js" async></script>-->


                <img  src="http://www.zillow.com/app?chartDuration=1year&chartType=partner&height=300&page=webservice%2FGetChart&service=chart&width=500&zpid=55555191" width="350" height="350">

                </div>





                <div class="ui blue raised segment">



                <ul *ngFor="let obj of myData[prop].propertyO">
                    <li>{{obj}}</li>
                </ul>

                    </div>










            </div>
        </div>




    </div>










    <div class="ui modal" #modal>
        <i class="close icon"></i>
        <div class="header">
            <h2 style="color: red">WARNING</h2>
        </div>
        <div class="content">

            <div class="description">
                <h3><strong>Response : </strong>Based on our calculations, the rent value you have inputted is more then 15% above the average rent for similar properties in the area. This could result in inaccurate investment returns, and can result if greatly overestimated profits.</h3>


                <h3><strong>Response : </strong> <p>Based on our calculations, the property price you have inputted is more then 15% above the average property price for similar properties in the area. This could result in inaccurate investment returns, and over expectation of capital appreciation</p></h3>

            </div>
        </div>
        <div class="actions">
            <button class="btn btn-danger btn-block" (click)="hideModal()">Idc. My money</button>
        </div>
    </div>








</div>
