<div class="ui blue raised segment">


    <div class="ui popup top left transition hidden"><div class="content">This popup was inserted inline and will be styled</div></div>

    <form>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="propValue">Property Value <i class="fa fa-info-circle" data-content="Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book"></i></label>
                    <input type="number" id="propValue" class="form-control">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="downpayment">Down Payment <i class="fa fa-info-circle" data-content="Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book"></i></label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-usd "></i>
                        </span>
                        <input type="number" id="downpayment" class="form-control">
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="interest">Interest Rate <i class="fa fa-info-circle" data-content="Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book"></i></label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-usd "></i>
                        </span>
                        <input type="number" id="interest" class="form-control">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="loanTerm">Loan Term <i class="fa fa-info-circle" data-content="Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book"></i></label>
                    <input type="number" id="loanTerm" class="form-control">
                </div>
            </div>
        </div>


    </form>

    <div class="row">
        <div class="col-md-6">
            <button class="btn btn-danger btn-block">Back</button>
        </div>
        <div class="col-md-6">
            <button class="btn btn-primary btn-block">Next</button>
        </div>
    </div>


</div>
